body{
    text-align: center; /* required by some browsers */  
    background-color: #f4f1de;
}

.container {
    margin-top: 50px;
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#obrazek {
width: 320px;
height: 230px;
}

h1{
    font-size: 20px;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 

}
.p1 {
    display: inline-block;
    font-size: 12px;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}
.socky {
    width: 50px;
    height: 50px;

}
.socky:hover{
    
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
      
}
  
